<li>
  <% current_user.collections.each do |collection| %>
  <a href="#"><%= collection.name %></a>
  <% if collection.categories %>
    <% collection.categories.each do |category|%>
    <ul id="menu" class="menuCategory">
      <li> <%= category.name %></li>
    </ul>
      <% end %>
    <% end %>
  <% end %>
<li>
