<% @user.collections.each do |collection| %>
  <li>
    <a href="#"><%= collection.name %></a>
    <ul>
      <% collection.categories.each do |category|%>
        <li>
          <a href="#"><%= category.name %></a>
          <ul>
            <% if category.links %>
              <% category.links.each do |link| %>
                <li><a href="#">Title:</a><a href='<%= link.url %>'><%= link.title %></a></li>
              <% end %>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>
  </li>
<% end %>
