<h1>Manage Your Collections</h1>

<div id='newCollection'>
  <h4>Add a New Collection</h4>
    <%= render 'form' %>
</div>
<h4>Edit Your Current Collections</h4>
<h4>Delete A Collection</h4>

<p><%current_user.links.each do |link| %>
  <%= link.url %>: <%= link.title %>
  <% end %>
</p>

<%= link_to "Homepage", user_path(@user.id) %>

