<h1>Manage Your Collections</h1>

<div id='newCollection'>
  <h4>Add a New Collection</h4>
    <%= render 'form' %>
</div>
<h4>Edit Your Current Collections</h4>
<h4>Delete A Collection</h4>

<a href="javascript:void((function()%7Bvar doc%3Ddocument.createElement(%27script%27)%3Bdoc.setAttribute(%27src%27,%27https://sleepy-escarpment-8057.herokuapp.com/bookmarklets?id=<%= @user.bookmark_token %>%27)%3Bdoc.setAttribute(%27type%27,%27text/javascript%27)%3Bdocument.getElementsByTagName(%27head%27)%5B0%5D.appendChild(doc)%3B%7D)())%3B">Drag Me!</a>


<%= link_to "Homepage", user_path(@user.id) %>
