body {
  background-color: #BDD3D3;
}

.container {
  background-color: white;
}

#menu {
  width: 50%;
}

#welcome {
  height: 500px;
  margin-bottom: 300px;
  text-align: center;
}

.new_user {
  width:50%;
  margin:0 auto;
}

.new_session {
  width:50%;
  margin:0 auto;
  text-align:center;
}

#welcome h1 {
  margin-top: 70px;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 100px;
  line-height: 100px;
}

#nav {
    margin: 18px 0 0 0;
}

#nav ul li {
    display: inline;
    margin: 0 30px 0 0;
    margin-bottom: 130px;
}

#nav a {
    text-decoration: none;
}

#nav a:hover {
    text-decoration: underline;
}

#subnav {
  margin: 0 auto;
  width: 960px;
  background-color: white;
  font-size: 20px;
}

#main_body {
  margin: 0 auto;
  border:2px solid;
  height: 500px;
  width: 960px;
  text-align: center;
}

#new_link {
  width:50%;
  margin:0 auto;
  text-align:center;
}

.userLinks {
  border:2px solid;
  width: 470px;
}

#addLinksDiv {
  border:2px solid;
}

#addedLinksDiv {
  border:2px solid;
}

.optionMenu div {
   border:2px solid;
  height: 500px;
}

#linkLibrary {
  border:2px solid;
}

